@import "tailwindcss";

:root {
  --primary: #373d12;
  --primary-accent: #dfef48;
}

@theme inline {
  --font-sans-serif: var(--font-hankenG-sans);
  --font-playful: var(--font-sourG-playful);
  --color-primary: var(--primary);
  --color-primary-accent: var(--primary-accent);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--primary);
  /* color: var(--foreground); */
  font-family: var(--font-hankenG-sans)
}
